
.App {
  background-color: rgb(163, 204, 241);

}


.navBar {

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

button {
  margin: 1px;
 
}

.weather-container {
  background-color: lightgray;
  display: flex;
  justify-content: center;
  color: forestgreen;
}